.page-header {
    padding-bottom: 20px;
}

.navbar {

    margin-bottom: 0;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

.flash-notice {

    padding: 15px 25px;
    background-color: #f08e13;
    border-radius: 4px;
    text-align: center;
    color: white;
    margin: 4px 2px;
    font-size: medium;
    opacity: 0.75;

}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.box {

    float: right;
}

.sub {
    width: 100%;
}

.supp {
    background-color: #ee4646;

}

#wrapper {

    background: #5385c1;
    color: white;
    text-align: center;
    display: block;
    height: auto;

}

#wrapper p {
    color: #bacee6;
}

#title {
    padding: 2em;
}

.person {

    border: solid 1px rgba(255, 255, 255, 0.25);
    padding: 3em 1.5em;
    margin: 2em;
    width: 20%;

}

.inci {
    margin-top: 3em;
}

#down {
    border: solid 1px rgba(255, 255, 255, 0.25);
    padding: 3em 1.5em;
    width: 20%;
    text-align: center;
    margin-left: 32.5em;

}

#footer {

    background-color: #DAD9D4;
    padding: 3em;
    height: auto;
    display: block;
    margin-top: 20em;


}

@media (max-width: 1200px) {

    .person {
        width: auto;
    }

    #down {
        margin-left: auto;
        width: auto;
    }

}