{%extends "FrontBundle::layout.html.twig"%}

{%block title%}
    Profil
{%endblock%}

{% block content %}
    <div class="container">


        {% if nom is defined and mail is defined %}
        <h1>Nom</h1>
        {{nom}}
        <h1>Mail</h1>
            {{ mail }}
            <form action="/web/app_dev.php/logout">
                <input type="submit" class="btn btn-primary" value="Se deconnecter" />
            </form>
            <form action="/web/app_dev.php/update">
                <input type="submit" class="btn btn-primary" value="Modification du profil" />
            </form>
            <form action="/web/app_dev.php/admin/list">
                <input type="submit" class="btn btn-primary" value="Voir l'ensemble des utilisateurs" />
            </form>
         {% else %}
            <p>Il n'a rien. Vous n'êtes pas connecté.</p>
             <form action="/web/app_dev.php/login">
                 <input type="submit" class="btn btn-primary" value="Se connecter" />
             </form>
             <form action="/web/app_dev.php/logout">
                 <input type="submit" class="btn btn-primary" value="Se deconnecter" />
             </form>
        {%  endif%}

    </div>
{%endblock%}
