{% extends "FrontBundle::layout.html.twig" %}





{% block title %}
    Ajoute de la date de fin d'incident
{% endblock %}
      {% block navContent %}
          {% if nom is not null %}
              <li><a href={{ path('admin_logout') }}><span class="glyphicon glyphicon-log-out"></span> Déconnexion
                  </a></li>
          {% elseif nom is null %}
              <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-out"></span> Connexion
                  </a></li>

          {% endif %}
      {% endblock %}


{% block content %}

    <div class="container inci">
        <form method="POST" action="">

            <label for="dateend">Date de la fin de l'incident :</label>
            <input type="date" class="form-control" name="dateend" placeholder="Titre"/>
            <input class="btn sub" type="submit"/>

        </form>
        <form action="{{ path('front_indexallincidents') }}"><input type="submit" class="btn"
                                                                    value="Liste des incidents"/></form>
    </div>



{% endblock %}