{%extends "BackBundle::layout.html.twig"%}

{%block title%}
    Ajout de la date de fin d'incident
{%endblock%}

{% block navContent %}
    {% if nom is not null %}
        <li><a href={{ path('admin_logout') }}><span class="glyphicon glyphicon-log-out"></span> Déconnexion
            </a></li>
    {% elseif nom is null %}
        <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-out"></span> Sign In
            </a></li>
        <li><a href={{ path('admin_create') }}><span class="glyphicon glyphicon-log-out"></span> Sign Up
            </a></li>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <form method="POST" action="">
            Date de la fin de l'incident<br>


            <input type="date" class="form-control"  name="dateend" placeholder="Titre"><br><br>
            <input class="btn" type="submit">

        </form>
    </div>



{%endblock%}