{%extends "BackBundle::layout.html.twig"%}





{%block title%}
    Ajout de la date de fin d'incident
{%endblock%}



{% block content %}

    <div class="container">
        <form method="POST" action="">
            Date de la fin de l'incident<br>


            <input type="date" class="form-control"  name="dateend" placeholder="Titre"><br><br>
            <input class="btn" type="submit">

        </form>
    </div>



{%endblock%}