{% extends "FrontBundle::layout.html.twig" %}





{% block title %}
    Ajoute de la date de fin d'incident
{% endblock %}



{% block content %}

    <div class="container">
        <form method="POST" action="">

            <label for="dateend">Date de la fin de l'incident :</label>
            <input type="date" class="form-control" name="dateend" placeholder="Titre"/>
            <input class="btn sub" type="submit"/>

        </form>
        <form action="{{ path('front_indexallincidents') }}"><input type="submit" class="btn"
                                                                    value="Liste des incidents"/></form>
    </div>



{% endblock %}