{%extends "FrontBundle::layout.html.twig"%}

{%block title%}
    Login
{%endblock%}

{% block content %}
    <div class="container">


        <form method="POST" action="login">

            <h1>Connexion</h1>

            {% for flash_message in app.session.flashBag.get('Notification') %}
                <div class="flash-notice">
                    {{ flash_message }}
                </div>
            {% endfor %}
            <h2>Login</h2>

            <input type="email" class="form-control" name="mail"/>
            <br>
            <h2>Mot de passe</h2>
            <input type="password" class="form-control" name="mdp"/>
            <br>
            <button class="btn btn-primary">Valider</button>
        </form>
        {% if error is defined%}
            <p style="color: red; "> {{ error }} </p>
        {% endif  %}
        {% if success is defined%}
            <p style="color: green; "> {{ success }} </p>
        {% endif  %}
    </div>

{%endblock%}
