{%extends "BackBundle::layout.html.twig"%}


{%block title%}
    Inscription
{%endblock%}

{% block navContent %}
    <li><a href={{ path('admin_create')}}><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
{% endblock %}
{% block content %}
<div class="container">
        <form method="POST" action="">
            <h1>Inscription</h1>
            <h2>Nom</h2>
            <input type="text" placeholder="Entrez votre nom" class="form-control" name="nom"/>
            <br>
            <h2>Email</h2>
            <input type="email" placeholder="Entrez votre email" class="form-control" name="mail"/>
            </br>
            <h2>Mot de passe</h2>
            <input type="password" placeholder="Entrez votre mot de passe" class="form-control" name="mdp"/>
            </br>
            <h2>Confirmation Mot de passe</h2>
            <input type="password" placeholder="Entrez à nouveau votre mot de passe" class="form-control" name="confmdp"/>
            </br>
            <button class="btn btn-primary">S'inscrire</button>
        </form>
        {% if error is defined%}
            <p style="color: red; "> {{ error }} </p>
        {% endif  %}
</div>

{%endblock%}
