{%extends "BackBundle::layout.html.twig"%}

{%block title%}
Liste de tous les utilisateurs
{%endblock%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>Nom</th><th>Prénom</th><th>Mail</th><th>Création</th>
                    </tr>
                    {%for u in utilisateurs%}
                        <tr>
                            <td>{{u.nom}}</td>
                            <td>toto</td>
                            <td>{{u.mail}}</td>
                            <td>Taratata</td>
                        </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
{%endblock%}
