{% extends "BackBundle::layout.html.twig" %}










{% block title %}
   Ping   Machine
{% endblock %}



{% block content %}


    <div class="container">



        <h1>Ping Machine  </h1>
        {% for flash_message in app.session.flashBag.get('Notification') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}

        {% for p in ping %}

        <p>{{ p }}</p>
        {% endfor %}







        <form method="post" action="../../../front/machine/details/{{ machine.id }} "><input type="submit" class="btn"
                                                                                           value="Retour"/></form>


    </div>


{% endblock %}
