{% extends "BackBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>Machine</th><th>Salle</th>
                    </tr>
                    {%for m in machine %}
                        <tr>
                            <td>{{ m.nom }}</td>
                            <td>{{ m.id_salle }}</td>
                        </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
{% endblock %}