{% extends "BackBundle::layout.html.twig" %}

{% block title %}
    Suppression de machine
{% endblock %}



{% block content %}

        <div id="container">

            <h1>Suppression de machine</h1>

            <form method="POST" action="">
                Ip :<br>
                <input type="text" name="ip" placeholder="IP"><br><br>
                <input type="submit">

            </form>

            {% if alerte is defined %}
                <p>{{ alerte }}</p>
            {% endif %}

        </div>
{% endblock %}